

<h1>Atendimentos</h1>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <tr>
      <th class="info">#</th>
      <th class="info">Data</th>
      <th class="info">Cliente</th>
      <th class="info">Usuario</th>  
      <th class="info">Atendente</th>
      <th class="info">Area</th>
      <th class="info">Assunto</th>
      <th class="info" colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @atendimentos.each do |atendimento| %>
     <tr>
        <td><%= atendimento.id %></td>
        <td><%= atendimento.data %></td>
        <td><%= atendimento.cliente.name%></td>
        <td><%= atendimento.usuario.name%></td>
        <td><%= atendimento.atendente.name%></td>
        <td><%= atendimento.area.name%></td>
        <td><%= atendimento.assunto%></td>
        <td><%= link_to 'Mostrar', atendimento %></td>
        <td><%= link_to 'Editar', edit_atendimento_path(atendimento) %></td>
      </tr>
     <% end %>
  </tbody>
</table>

<h2>Import Products</h2>
<%= form_tag import_atendimentos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<br>
<p>
  Download:
  <%= link_to "Excel", atendimentos_path(format: "xls") %>
   <%= link_to "CSV", atendimentos_path(format: "csv") %>
| <%= Atendimento.count %> registrados </p>
<%= link_to 'Cadastrar Novo Atendimento', new_atendimento_path %>





