<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Atendimento Mgs" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Atendimento Mgs" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h3>Bem Vindo ao Sistema de Atendimento MGS</h3>
      <h5> Atualmente registrados</p><h5>
      <h6> Atendimentos: <%= Atendimento.count %> registrados.</p><h6>
      <h6> Clientes: <%= Cliente.count %> registrados.</p><h6>
      <h6> Usuarios de Prefeituras: <%= Usuario.count %> registrados.</p><h6>
      <h6> Atendentes: <%= Atendente.count %> registrados.</p><h6>
      <h6> Areas: <%= Area.count %> registrados.</p><h6>
    </header>
      
  </body>

</html>
