<%# add navigation links to this file %>
<% if user_signed_in? %> 
	<%#	Se userlogado = yes
  <li><%#= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%#= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  <li><%= link_to 'Atendimentos', atendimentos_path %></li>
  <li><%= link_to 'Clientes', clientes_path %></li>
  <li><%= link_to 'Usuarios', usuarios_path %></li>
  <li><%= link_to 'Atendentes', atendentes_path %></li>
  <li><%= link_to 'Area', areas_path %></li>	
  <li><%#= link_to 'Sign up', new_user_registration_path %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%#= link_to 'Users', users_path %></li>

<% end %>
